body{
    background-size: cover;
}

.heading{
    font-size: 23px !important;
    color: white;
}

h3{
    margin-top:-10px;
}

#play_button{
    font-size:25px;
    width: 130px;
}

canvas{
    border: 5px solid white;
    border-radius: 25px;
}